/* GLOBAL */
* {
  box-sizing: border-box;
  color: black;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  transition: 0.4s;
  background-image: linear-gradient(white 10%, cyan, white);
}

section {
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #333333;
}

.nav1 p {
  color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}



button {
  color: black;
}

footer {
  padding: 1rem;
}




.heroP {
  width: fit-content;
  text-transform: capitalize;
  color: green;
  font-family: "syne Mono", monospace;
  font-weight: 800;
  font-style: normal;

}

.heroP:hover,
.heroP:active {
  animation: shake 0.5s 1 linear;
}

@keyframes shake {
  0% { 
    transform: translateX(0px) translateY(0); 
} 
20% { 
    transform: translateX(-5px) translateY(-5px); 
} 
40% { 
    transform: translateX(4px) translateY(4px); 
} 
60% { 
    transform: translateX(-3px) translateY(3px); 
} 
80% { 
    transform: translateX(2px) translateY(-2px); 
} 
100% { 
    transform: translateX(0px) translateY(0); 
}
}

.prefix-style {
  font-size: 1em;
  background-color: #333333;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  font-family: "syne Mono", monospace;
  font-style: normal;
  margin-inline-end: 10px;
}

.caret {
  font-size: 0.9em;
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}







.sirkel,
.rotering,
.boks {
width: 5em;
height: 5em;
}

.sprettball {
  border-radius: 50%;
  animation: sprettball 1s;
  animation-iteration-count: infinite;
  background-color: orangered;
  box-shadow: 0 0 10px 1px;
  height: 5em;
  width: 5em;
}

@keyframes sprettball {
	0% {transform: translateY(0);
		-webkit-animation-timing-function: ease-in;
	}
	40% {}
	50% {transform: translateY(140px);
		height: 5em;
		-webkit-animation-timing-function: ease-out;
	}
	55% {transform: translateY(160px); height: 4em; 
		-webkit-animation-timing-function: ease-in;}
	65% {transform: translateY(120px); height: 5em; 
		-webkit-animation-timing-function: ease-out;}
	95% {
		transform: translateY(0);		
		-webkit-animation-timing-function: ease-in;
	}
	100% {transform: translateY(0);
		-webkit-animation-timing-function: ease-in;
	}
}

.sprettball-container {
  display: grid;
  grid-template-rows: 12em;
}

.sprett-gulv {
  width: 5em;
  height: 0.2em;
  background-color: #333333;
}

.blokk {
  background-color: maroon;
  border-radius: 5px;
  width: 5em;
  height: 5em;
  transform: translateX(-50px);
  /* animation: blokkA 1s infinite linear; */
}

@keyframes blokkA {
  0% {
    transform: translateX(-50px);
    width: 5em;
  }
  25% {
    transform: translateX(0px);
    width: 10em;
  }
  50% {
    transform: translateX(50px);
    width: 5em;
  }
75% {
  transform: translateX(0px);
  width: 10em;
}
  100% {
    transform: translateX(-50px);
    width: 5em;
  }
  
}

.sirkel {
  border-radius: 50%;
  background-color: green;
  animation: sirkel 2s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.sirkel:hover,
.sirkel:active {
  background-color: greenyellow;
}

.strek1,
.strek2 {
  position: fixed;
  width: 5em;
  height: 0.1em;
  background-color: #333333;
}

.strek1 {
  rotate: 90deg;
}

@keyframes sirkel {
  0% {
    transform: translateX(-1.5em) rotate(-90deg);
  }
  50% {
    transform: translateX(1.5em) ;
  }
  100% {
    transform: translateX(-1.5em) rotate(-90deg);
  }
}

.rotering {
  border-radius: 15px;
  background-color: blue;
  animation: roter 10s linear infinite;
  color: blue;
  scale: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.rotering:hover {
  background-color: aqua;
}

@keyframes roter {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
    scale: 1.5;
  }
  100% {
    transform: rotate(-360deg);
  }
}

.boks {
  background-color: red;
  animation: boks 2s ease-in-out infinite;
  transition: 0.5s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boks:hover,
.boks:active {
  background-color: violet;
}

@keyframes boks {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

.mini-game {
  position: absolute;
  top: 200px;
  right: 200px;
  width: 500px;
  height: 300px;
}

.catch {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  border-radius: 100%;
  height: 5px;
  width: 5px;
  transition: 0.5s;
  position: absolute;
  top: 148px;
  left: 150px;
}

.catchBall {
  background-color: black;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 100%;
}